#kefu-kefuDv{font-family: "Microsoft Yahei"; line-height: 1.8;}
#kefu-kefuDv .qqnum{ text-align:center;font-size:12px;width:100%; padding:0 0 10px 0;}
#kefu-kefuDv .qqnum:last-child{ text-align:center;font-size:12px;width:100%; padding:0;}
#kefu-kefuDv .telNo{ padding-left:10px; font-size:12px; color: #f60; width:95px;height:17px}
#kefu-kefuDv table {border:0; width: auto; background-color: transparent;}
#kefu-kefuDv #navLog {width:40px; vertical-align: top;}
#kefu-kefuDv table  tr {border:0;}
#kefu-kefuDv img{border:0; display: inline-block;}
#kefu-kefuDv table td {border:0;padding:0;}
#kefu-kefuDv .kefu1{ font-size: 14px; font-weight: bold; padding-left: 10px; padding-top: 10px;}
#kefu-kefuDv .kefu3{ width:105px;height:10px}
#kefu-kefuDv .kefu4{ background: url(../images/qq.png) center no-repeat; background-size: contain; width:105px;height:68px;}
#kefu-kefuDv .kefu4gray{  background: url(../images/qq-grey.png) center no-repeat; background-size: contain; width:105px;height:68px;}
#kefu-kefuDv .line{ width:105px;height:9px}
#kefu-kefuDv .wangwang-names{margin:0; padding: 0; margin-left: 5px; font-size: 13px; color: #333;}
#kefu-kefuDv .qqSmall{ width:100px;height:29px; line-height: 29px; vertical-align:middle; margin-left: 5px;white-space:nowrap; overflow:hidden; text-overflow:ellipsis;}
#kefu-kefuDv a{font-size:13px;text-decoration:none;color:#333;}
#kefu-kefuDv a:hover{text-decoration:none;color:black}
#kefu-kefuDv .kefu10{ width:105px;height:28px}
#qqAdmin .panel1{border:1px solid gray;width:500px;margin-top:13px}
#qqAdmin .dtl{color:gray;font-style:normal;}
#kefu-kefuDv .qqSmall a{margin-left:4%; font-weight: normal;}
#kefu-kefuDv .qqClearFix{clear:both;}
#kefu-kefuDv .clearfix{clear:both}

.rm_wrap{width:560px}
/*.kefu_section{border:1px solid #ddd;background:#fff;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px}*/
.rm_opts label{font-size:12px;width:200px;display:block;float:left}
.rm_input{padding:5px 10px}
.rm_opts small{	display:block;padding:4px;width:630px;font-size:12px;color:#666;line-height:20px}
.rm_opts input [ type = "text" ],.rm_opts select{width:280px;font-size:12px;padding:4px;color:#333;line-height:20px;background:#fff}
.rm_input input:focus,.rm_input textarea:focus{background:#f2f2f2;}
#swt_qq,#swt_cat_slider,#swt_emailid,#swt_twitter,#swt_qqmblog,#swt_sinamblog,#swt_rsssub,#swt_email,#swt_search_link,#swt_cat,#swt_new_exclude,#swt_search_ID,#swt_link_s{border:1px solid #dadada;width:280px;padding:2px;}
.rm_input textarea{width:280px;height:150px;font-size:12px;padding:4px;color:#333;line-height:20px;background:#fff}
.rm_title h3{cursor:pointer;font-size:14px;text-transform:uppercase;margin:0;font-weight:bold;color:#232323;float:left;width:80%;padding:14px 4px}
.rm_title{cursor:pointer;border-bottom:1px solid #dadada;padding:12px 0;height:50px}
.rm_title h3 img.inactive{margin:-1px 10px 0 2px;width:19px;height:19px;background:url(../images/collapse.png) no-repeat 0 0;float:left}
.rm_title h3 img.active{margin:-1px 10px 0 2px;width:19px;height:19px;background:url(../images/collapse.png) no-repeat 0 -19px;float:left}
.rm_title span.submit{display:block;float:right;margin:0;padding:0;width:15%;padding:14px 0}
.rm_table th,.rm_table td{border:1px solid #bbb;padding:10px;text-align:center}
.rm_table th,.rm_table td.feature{border-color:#888}
.child {padding-left:40px;}
.kefuicon-title{display: inline-block; width: 80px;}
#iconLi li{margin-top: 10px; border-bottom: 1px dashed #ccc; padding-bottom: 10px;}
#all_cat {padding:10px; margin-bottom:10px; border:1px solid #ccc;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px}
#all_cat h4{line-height:23px;margin: 0;}
#all_cat span { display: inline-block; white-space: nowrap; margin-right: 10px; font-size: 12px; }
#all_cat em { font-weight: bold; color: #2E64FE; font-style: normal; }
#all_cat small {font-size:12px;color:#666;line-height:23px}
.show_id{display:block;width:250px;margin-right:-500px;position:fixed;right:50%;top:15%;line-height:23px;padding:10px;list-style:square inside;border:1px solid #ccc;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px}
#imgNav{margin-top: 30%;position: absolute;}
.rm_options{padding:20px;}
.qq-cus-label{display: inline-block; width: 110px; font-weight: bold; }
.qq-cus-title{padding:20px 20px; font-size: 24px; margin:0;}
.qq-cus-del{}
.kefu-add{padding:10px; background-color: #eee;}
.kefu-update{margin:0; display: none;}
.submit{padding-left:20px; padding-bottom: 20px;}
#kefu-kefuDv .customer-list{background-color: #eee; border:1px solid #ccc !important; min-height: 200px;}
#kefu-kefuDv .qq-kefu-fun-box{width: 100%; position: relative;}
#kefu-kefuDv .qq-kefu-backUp{display: block; width: 100%; height: 62px; border:none; border-top: 1px solid #ccc; text-align: center; background: url(../images/rocket.png) center no-repeat; }
#kefu-kefuDv .qq-kefu-backUp-2{display: block; width: 50%; height: 62px; border-top: 1px solid #ccc; text-align: center; background: url(../images/rocket.png) center no-repeat; float: left; background-size: cover;}
#kefu-kefuDv .qq-kefu-qrCode{display: block; width: 50%; height: 62px; border-right:1px solid #ccc; border-top: 1px solid #ccc; text-align: center; background: url(../images/QR_Code.png) center no-repeat; float: left; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; -ms-box-sizing:border-box; background-size: cover;}
#kefu-kefuDv .qq-kefu-qrCode-2{display: block; width: 100%; height: 62px; border-top: 1px solid #ccc; text-align: center; background: url(../images/QR_Code.png) center no-repeat; float: left; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; -ms-box-sizing:border-box;}
#kefu-kefuDv .kefu-qrcode-box{width: 200px; height: 200px; padding:10px; z-index: 999; background-color: #eee; position: absolute;  top: 0; display: none; box-sizing:border-box; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; -ms-box-sizing:border-box; box-shadow: 0px 0px 20px rgba(0,0,0,0.3)}

#kefu-kefuDv .kefuicon-skype{ background: url(../images/skype.png) center no-repeat; background-size: contain; width:105px;height:68px;}

/*tab*/
.setting-set>li{float:left;width:120px;height:30px;padding-bottom:0;margin:0;text-align:center;line-height:30px;cursor:pointer;border-radius:5px 0 0 0;background-color:#fff;color:#000}
.setting-set>li:nth-child(1){background-color:#0073aa;color:#fff}
.setting-set>li:nth-child(2),
.setting-set>li:nth-child(3)
{border-radius:0}
.setting-set>li:nth-child(4){border-radius:0 5px 0 0}